body {
	margin: 0;
	margin-top: 2%;
	font-family: Arial, sans-serif;
}

header {
	border-bottom: 4px solid #3E73A8;
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	top: 0;
}




nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-right: 15%;
	
	li { float: right; }
}

#LogoHospital {
	height: 4vh;
	margin: 5px;
}

.ButtonMoreInformation {
	background: #17C18E; 
	color: #fff; 
	border: none;
	border-radius: 40px; 
	cursor: pointer;
	
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	
	padding: 10px 20px;
}

.ArrowButton {
	display: block;
	text-align: center;
	padding: 14px 16px;
	
	color: #050505;
	text-decoration: none;
	font-size: 20px;
	transition: all 0.5s ease;
}

.ArrowButton:hover {
	background-color: #E0EFFF;
}




#MainLogo {
	background-image: url('Images/MainPageBackground.jpg');
	width: 100%;
	height: 27vw;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #FFFFFF;
	
	h1 {
		font-size: 60px;
		padding-top: 5%;
	}
}

.GreenHeader {
	font-size: 40px;
	padding-bottom: 10px;
	color: #17C18E;
	border-bottom: 3px solid #17C18E;
}

.CardBlock {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.CardIcon { margin: 0.5% 30%; }


.Card {
	width: 13%;
	margin: 0.9%;
	padding: 18px;
	
	background-color: #17C18E;
	box-shadow: 7px 7px #DFDFDF;
	
	box-sizing: border-box;
	text-align: center;
	border-radius: 15px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	transition: all 0.3s ease;
	
}

.Card:hover { background-color: #129E74; }

#AboutUs {
	width: 30%;
	margin: 2%;
}

#HospitalIllustration {
	width: 20%;
	margin: 2%;
	border: 4px solid #17C18E;
}




#WorkerSection {
	padding: 50px;
	padding-top: 5px;
	text-align: center;
	background: linear-gradient(to top, #2C604F, #06281D);
	
	.GreenHeader {
		color: #00DB99;
	}
}

.DoctorsRectangle {
	width: calc(30vh - 40px);
	
	margin: 1%;
	padding-top: 0;
	
	border: 5px solid #17C18E;
	
	box-sizing: border-box;
	text-align: center;
	
	display: flex;
	flex-direction: column; 
	flex-wrap: wrap;
	justify-content: top;
	align-items: center;
	color: #A8FFE3;
	transition: all 0.3s ease;
	
	.ButtonMoreInformation {
		background: none; 
		border: 5px solid #17C18E;
		margin: 20px;
	}
}

.DoctorsRectangle:hover { transform: translateY(-15px); }

.PersonIcon {
	float: inline-start;
	width: 100%;
}

#ButtonSearchDoctor {
	background: none; 
	color: #fff; 
	border: 5px solid #17C18E;
	border-radius: 10px; 
	cursor: pointer;
	
	font-size: 30px;
	font-weight: bold;
	font-family: arial;
	
	padding: 10px 60px;
	margin: 20px;
	transition: all 0.3s ease;
}

#ButtonSearchDoctor:hover { transform: scale(1.1); }




#LinkSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #06281D;
}

.LinkBlock {
	width:20%;
	margin: 2%;
	color: #7CA597;
	
	ul li { margin:3%; }
	ul li a { text-decoration: none; color: #7CA597; }
}

#EndLinks {
	width: 100%;
	padding: 5px 20%;
	background-color: #032114;
	
	a { 
		float: right; 
		color: #7CA597;
		
		display: block;
		text-align: center;
		padding: 1.5% 14px;
		text-decoration: none;
		font-size: 15px;
	}
}





@media(min-width:1001px) and (max-width:1500px) {
	#HospitalIllustration { width: 35%; }
	.Card {
		width: 16%;
		padding: 10px;
	}
	#EndLinks { padding: 1.5% 10%; }
	
	.LinkBlock { 
		width:25%; 
		margin: 1%; 
	}
}

@media(min-width:641px) and (max-width:1000px) {
    #HospitalIllustration { width: 55%; }
	#AboutUs { width:35%; }
	
	.Card {
		width: 25%; 
		padding: 15px;
	}
	
	#EndLinks { padding: 1.5% 0; }
	
	.LinkBlock { 
		width:32%; 
		margin: 5px; 
	}
}

@media(max-width:640px) {
	#HospitalIllustration { width: 90%; }
	.Card {
		width: 45%; 
		padding: 15px;
	}
	
	#AboutUs { width:90%; }
	
	nav ul {
		padding: 0;
		li { float: left; }
	}
	
	#LogoHospital { margin: 5px 30%; }
	
	.LinkBlock { 
		width:94%; 
		margin: 3%; 
	}
	
	#EndLinks { padding: 1.5% 0; }
}